<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">FinanzApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn nav-link" onclick="location.href='#login'">Iniciar Sesión</button>
                </li>
                <li class="nav-item">
                    <button class="btn nav-link" onclick="location.href='#register'">Registrarse</button>
                </li>
            </ul>
        </div>
    </div>
</nav>


    <div class="jumbotron text-center my-4">
        <h1 class="display-4">Bienvenido a FinanzApp</h1>
        <p class="lead">Gestiona tus finanzas personales de manera simple y eficaz. FinanzApp te ayuda a controlar tus gastos, ingresos y presupuestos en un solo lugar.</p>
    </div>
    
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <div class="card p-4">
                    <img src="assets/images/controlGasto.webp" class="card-img-top mx-auto d-block img-fluid custom-img-size" alt="Control de Gastos">
                    <div class="card-body">
                        <h5 class="card-title">Control de Gastos</h5>
                        <p class="card-text">Registra cada uno de tus gastos y obtén un desglose detallado.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card p-4">
                    <img src="assets/images/controlGasto.webp" class="card-img-top mx-auto d-block img-fluid custom-img-size" alt="Presupuestos Mensuales">
                    <div class="card-body">
                        <h5 class="card-title">Presupuestos Mensuales</h5>
                        <p class="card-text">Establece límites de gasto por categoría y no excedas tu presupuesto.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card p-4">
                    <img src="https://via.placeholder.com/100" class="card-img-top mx-auto d-block img-fluid custom-img-size" alt="Alertas y Recordatorios">
                    <div class="card-body">
                        <h5 class="card-title">Alertas y Recordatorios</h5>
                        <p class="card-text">Recibe notificaciones sobre tus pagos y fechas importantes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer mt-5py-3 text-center">
        <div class="container">
            <p>&copy; 2024 FinanzApp. Todos los derechos reservados.</p>
            <p>
                <a href="#" class="text-white mx-2">Contacto</a> |
                <a href="#" class="text-white mx-2">Términos de uso</a> |
                <a href="#" class="text-white mx-2">Privacidad</a>
            </p>
        </div>
    </footer>


