<nav class="navbar navbar-expand-lg bg-primary-dark">
    <div class="container">
        <a class="navbar-brand text-white" href="#">FinanzApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary-dark mx-2" href="/perfil">Perfil</a>
                </li>
                <li class="nav-item" *ngIf="admin">
                    <a class="nav-link btn btn-primary-dark mx-2" routerLink="/admin">Panel de Administración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary-dark mx-2" (click)="cerraSesion()">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Bienvenido a tu Panel de Control, {{usuario?.nombre}}</h1>
            <p class="lead">Aquí puedes gestionar tus finanzas personales de manera simple y eficaz.</p>
        </div>
    </div>
    <div class="row text-center mt-4">
        <div class="col-md-6 mb-4">
            <div class="card p-4">
                <h5 class="card-title">Crear y Configurar Presupuestos</h5>
                <p class="card-text">Establece y configura tus presupuestos generales o por categorías.</p>
                <a href="/presupuestos" class="btn btn-primary-dark">Ir a Presupuestos</a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card p-4">
                <h5 class="card-title">Registro de Movimientos</h5>
                <p class="card-text">Añade y consulta tus movimientos financieros.</p>
                <a href="/movimientos" class="btn btn-primary-dark">Ir a Movimientos</a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card p-4">
                <h5 class="card-title">Gráficos e Informes</h5>
                <p class="card-text">Visualiza gráficos y resúmenes de tus finanzas.</p>
                <a href="/graficos" class="btn btn-primary-dark">Ir a Gráficos</a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card p-4">
                <h5 class="card-title">Recordatorio de Pagos</h5>
                <p class="card-text">Crea y gestiona recordatorios de pagos importantes.</p>
                <a href="/pagos" class="btn btn-primary-dark">Ir a Recordatorios</a>
            </div>
        </div>
    </div>
</div>

