/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 35px;
    }
    
.div1 { grid-area: 1 / 1 / 5 / 6; }
.div2 { grid-area: 5 / 1 / 6 / 6; }

.bg-primary-dark { background-color: #2A3E66; }  /* Azul oscuro */
.btn-primary-dark { background-color: #2A3E66; color: #fff; }
.btn-primary-dark:hover { background-color: #1f2f50; }
.btn-success { background-color: #4CAF50; color: #fff; }
.btn-success:hover { background-color: #43a047; }
.text-dark-gray { color: #333333; } /* Gris oscuro */
.bg-light-gray { background-color: #F5F7FA; } /* Gris claro */


.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}


body {
    background-color: lightgray;
}


.footer {
    background-color: #2A3E66; /* Azul Marino */
    color: white;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    width: 100%;
        
}


.footer p a{
    text-decoration: none;
    color: white;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Opcional: Añadir un fondo semitransparente al pasar el ratón */
}

.navbar-nav .nav-link.active {
    color: white;
    background-color: rgba(255, 255, 255, 0.2); /* Opcional: Añadir un fondo semitransparente para el enlace activo */
}